body {
  background-color: black;
  color: white;
}

.clock {
  display: inline;
  float: right;
}

.card {
  display:inline-block;
  margin: 0.5em;
}

.list-item-destination {
  list-style-type: none;
}