body {
  background-color: black;
  color: white;
}

.clock {
  display: inline;
  float: right;
}

.card {
  display:inline-block;
  margin: 0.5em;
}

.list-item-no-dot {
  list-style-type: none;
}

.text-console {
  font-family: "Courier New", Courier, monospace;
}